body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

header, footer {
  flex: 0 0 auto; 
}

.tabletop {
  flex: 1 0 auto; 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  margin: 0;
  padding: 0;
  min-height: 0;
}

.map {
  position: relative;
  flex: 1;               
  max-height: 75vh;
  max-width: 60vw;
  height: 75vh;            
  aspect-ratio: 1 / 1;         
  background: url("../../public/battlemaps/battlemap_placeholder.jpg") center center / contain no-repeat;
  background-color: #000;
  margin: 0em 0 0em 1em;       
  padding: 0;
  box-sizing: border-box;
  
}

td {
  padding: 0;
}

/* Tokens */
.token {
  position: absolute;
  cursor: grab;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
  font-weight: bold;
  user-select: none;
  border: 2px solid #2e2e2e;
  box-shadow: 2px 2px 0px #2e2e2e;
}

.token.pc {
  background-color: #1E90FF;
}

.token.enemy {
  background-color: #FF4444;
}

.token:active {
  cursor: grabbing;
}

.token:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease;
}

.drag-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.drag-image.pc {
  background-color: #1E90FF;
}

.drag-image.enemy {
  background-color: #FF4444;
}

.character-sheet {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  max-height: 75vh;
  max-width: 35vw;
  height: 75vh;               
  background: #c6bebe;
  color: #000;
  margin: 0em 1 0em 0;
  padding: 0em;
  box-sizing: border-box;
  box-shadow: 6px 6px 0px #2e2e2e;
  border-radius: 8px;
}

.character-sheet table {
  width: 100%;
  flex: 1;
  border-collapse: collapse;
}

.character-sheet th,
.character-sheet td {
  border: 2px solid #333;
  padding: 0.5em;
  text-align: left;
}

@media (max-height: 600px) {
  .character-sheet, .map {
    margin: 0em 0em 0em 0em;
  }
}