@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background: #fdf5e6; /* off-white for normal pages */
  color: #2e2e2e;
  font-family: 'Press Start 2P', monospace;
}

header {
  flex: 0 100px;
  padding: 0em 0.5em;
}

/* Header navigation */
header nav {
  justify-content: left;
  gap: 2rem;
  
}

header nav a {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 0.7rem;
  text-decoration: none;
  color: white;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 4px;
  transition: all 0.2s ease;
  font-family: 'Press Start 2P', monospace;
  vertical-align: middle;
}

header nav .nav-right {
    margin-left: auto
}

header nav a:not([href]) {
  background-color: #1E90FF;
  color: #000;
  border-color: #1E90FF;
}

header nav a:hover {
  background-color: #1E90FF;
  transform: scale(1.02);
}

header hr {                  
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;              
}

header nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul .nav-right {
  margin-left: auto;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 1em 0.5em;      /* reduced padding */
  font-size: 0.8em;      /* smaller text */
  color: #000;
  gap: 0.2em;
}

footer hr {                  
  border: none;
  border-top: 1.5px solid #000;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: 1em;                  
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}

.landscape-warning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #1E90FF;
  color: #000;
  text-align: center;
  z-index: 9999;
  font-size: 1.2em;
  padding: 0;
  align-items: center;
  justify-content: center;
}

@media (orientation: portrait) and (max-width: 800px) {
  .landscape-warning {
    display: flex;
  }
  header,
  .tabletop,
  footer {
    display: none !important;
  }
}


/* text styling */
.big-title {
  font-size: 5rem;   
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0.01em;
}
.secondary-title{
  font-size: 2rem;   
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0.01em;
}
.main-header{
  font-size: 1.5rem;   
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}